:root {
  --primary-colour: lightgrey;
  --links-colour: black;
}

.bg-primary {
  background-color: var(--primary-colour) !important;
}

.btn-primary {
  color: var(--links-colour) !important;
  background-color: var(--primary-colour) !important;
  border: 2px solid var(--primary-colour);
}

.btn-clear {
  color: var(--links-colour);
  border: 2px solid var(--primary-colour);
}

.btn-clear:hover {
  color: var(--links-colour);
}

section.landing-section {
  padding: 4em 0;
}

section.landing-section:not(:last-child) {
  border-bottom: 2px solid black;
}

section.landing-section .btn {
  border-radius: 2px;
}

.nav-link {
  color: var(--links-colour) !important;
}

.navbar-img {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 767px) {
  .navbar-img {
    height: 25px;
    width: 25px;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto{
    flex-direction: row;
  }
}
