@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

:root {
  --primary-colour: lightgrey;
  --links-colour: black;
  --white-buttons: white;

  --white: white;
  --light-grey: #9B9B9B;
  --off-black-1: #100F15;
  --colour-scheme-1: #BB417C;
  --colour-scheme-2: #ED8E00;
  --colour-scheme-3: #C4302F;

}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

#main-nav {
  background-color: var(--white);
  box-shadow: 0 -6px 29px #9B9B9B;
}

.btn-primary {
  color: var(--white) !important;
  background-color: var(--colour-scheme-1) !important;
  border: 2px solid var(--colour-scheme-1) !important;
  border-radius: 10px !important;
}

.btn-clear {
  padding: 6px 12px;
  color: var(--links-colour);
  border: 2px solid var(--colour-scheme-1) !important;
  border-radius: 10px !important;
}

.btn-clear:hover {
  color: var(--links-colour);
}

section.landing-section {
  padding: 4em 0;
}

section.landing-section:first-child {
  padding: 6em 0;
}

section.landing-section:not(:last-child) {
  border-bottom: 2px solid var(--light-grey);
}

section.landing-section .btn {
  border-radius: 2px;
}

section.landing-section h2 {
  font-size: 2.5em !important;
}

.nav-link {
  color: var(--links-colour) !important;
}

.navbar-img {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 767px) {
  .navbar-img {
    height: 25px;
    width: 25px;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto{
    flex-direction: row;
  }
}

#application-stack {
  text-align: center;
}

.card {
  padding: 0.5em 1em 1em 1em;
  margin: 0.7em;
  width: 14em;
  height: 14em;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, .35);
}

.card.flip {
  background-color: var(--colour-scheme-1);
  color: white !important;
}

.card.flip input {
  background-color: var(--colour-scheme-1);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: .25em !important;
  white-space: pre-wrap;
  font-size: .9em;
}

#application-stacks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-cli{
  text-align: center;
  width: 65%;
}

#command-input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#command-input input{
  padding: 0 0.5em;
}

.fas.fa-arrow-left {
  position: absolute;
  top: 7px;
  left: 7px;
}

.heading-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  padding: 2em 0;
  position: relative;
}

.tile h5 {
  margin-top: 0.7em;
  margin-bottom: 1em;
  padding: 0em;
  text-align: center;
}

.tile a.btn {
  position: absolute;
  bottom: 1.6em;
  left: 0;
  right: 0;
}
.tile .status {
  position: absolute;
  font-size: 80%;
  top: 0.8em;
  left: 0;
  right: 0;
  color:#999999;
}

.flip a.btn {
  background-color: white;
}

.fa-arrow-left:hover, .fa-copy:hover {
  cursor: pointer;
}

#error404 {
  margin: 3em;
}

#docs {
  display: grid;
  grid-template-columns: 15em auto;
}

#docs main, #docs-sidebar {
  padding: 1em;
}

#docs main {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 4em;
}

#docs-sidebar ul {
  padding: 0;
  list-style-type: none;
}

#docs-sidebar{
  position: fixed;
  width: 15em;
  padding-top: 5em;
  background-color: #f1f1f1;
  height: 100%;
  left: 0;
}

#docs-sidebar li {
  margin-top: 2em;
}

#docs-sidebar a {
  color: black;
}

#docs h2 {
  font-size: 1.6em;
  font-weight: bold;
}

#docs h3 {
  font-size: 1.2em;
  font-weight: bold;
}

#docs-nav-heading {
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  img.navbar-img {
    margin: 0em;
  }

  #docs {
    grid-template-columns: 0;
    grid-template-rows: auto auto;
  }

  #docs main {
    margin-top: 0;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #docs-sidebar{
    width: 100vw;
    position: static;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
  }
}

footer {
  background-color: var(--colour-scheme-1);
  box-shadow: 0 6px 29px #9B9B9B;
  padding: 1em;
  text-align: center;
}

#docs footer {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
  padding: 0 1em;
  border-right: 1px solid var(--white);
}

footer li:last-child {
  border-right: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

#docs main pre, #docs main :not(pre) > code  {
  padding: 0.3em;
  background-color: #F1F1F1;
  border-radius: 0.1em;
  color: black
}
#docs pre, #docs code{
  overflow-x: scroll;
  width: 100%;
}

#docs main {
  overflow-x: hidden;
}

#appsody-hello {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

@media only screen and (max-width: 767px) {
  #twitter-nav{
    margin-left: 1em;
    margin-right: 1em;
  }

  #docs #twitter-nav{
    margin-left: 0;
    margin-right: 0;
  }

  #docs .navbar-brand img {
    margin: 0 !important;
  }

   #docs .nav-link {
    padding-left: 0; 
  }
}

.navbar-brand {
  padding: 0;
}

#docs #brand-name {
  display: none;
}
