@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800,900|Open+Sans:300,400,500,600,700,800,900&display=swap');

:root {
  --links-colour: black;
  --white-buttons: white;

  --white: white;
  --light-grey: #F1F1F1;
  --dark-grey: #d3d3d3;
  --darker-grey: #9B9B9B;
  --off-black-1: #100F15;
  --colour-scheme-1: #BB417C;
  --colour-scheme-2: #ED8E00;
  --colour-scheme-3: #C4302F;
  --colour-scheme-1-dark: #963463;

}

html {
  height: 100%;
}

:focus {
  outline: none !important;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 1.3rem
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size:1.3rem;
  }

  button {
    background: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}


#main-nav {
  background-color: var(--white);
  box-shadow: 0 -6px 29px var(--dark-grey);
}

.btn-primary {
  color: var(--white) !important;
  background-color: var(--colour-scheme-1) !important;
  border: 2px solid var(--colour-scheme-1) !important;
  border-radius: 10px !important;
}

.btn-primary:hover {
  background-color:  var(--colour-scheme-1-dark) !important;
  border-color: var(--colour-scheme-1-dark) !important;
}

.btn-clear {
  padding: 6px 12px;
  color: var(--links-colour);
  border: 2px solid var(--colour-scheme-1) !important;
  border-radius: 10px !important;
}

.btn-clear:hover {
  background-color: var(--light-grey);
}

section.landing-section {
  padding: 4em 0;
}

section.landing-section:first-child {
  padding: 6em 0;
}

section.landing-section:not(:last-child) {
  border-bottom: 2px solid var(--darker-grey);
}

section.landing-section .btn {
  border-radius: 2px;
}

section.landing-section .lead {
  font-weight: 600;
}

section.landing-section h2 {
  font-size: 2.5em !important;
}

.nav-link {
  color: var(--links-colour) !important;
}

.nav-link:hover {
  color: var(--colour-scheme-1) !important;
}

.navbar-img {
  height: 25px;
  width: 25px;
}

.navbar-toggler {
  border: 0;
}

#main-nav .navbar-toggler-icon {
  background-image: url("../images/search-icon.png") !important;
  width: 25px;
  height:25px;
}

.bigscreen-social {
  display: flex;
}

.smallscreen-social {
  display: none;
}

@media only screen and (max-width: 767px) {
  .bigscreen-social {
    display: none;
  }

  .smallscreen-social {
    display: flex;
    
  }
}

/* Cannot change as the Slack icon is not transparent in the middle. Saving for later */
/* .navbar-img:hover {
  filter: invert(33%) sepia(54%) saturate(1628%) hue-rotate(295deg) brightness(86%) contrast(81%);
} */

@media only screen and (max-width: 767px) {
  .navbar-img {
    height: 25px;
    width: 25px;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto{
    flex-direction: row;
  }
}

#application-stack {
  text-align: center;
}

#redirect-page{
  position: relative;
  min-height: calc(100vh - 3.5em);
}

.card {
  padding: 0.5em 1em 1em 1em;
  margin: 0.7em;
  width: 14em;
  height: 14em;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, .35);
}

.card.flip {
  background-color: var(--colour-scheme-1);
  color: white !important;
}

.card.flip input {
  background-color: var(--colour-scheme-1);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: .25em !important;
  white-space: pre-wrap;
  font-size: .9em;
}

#application-stacks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-cli{
  text-align: center;
  width: 65%;
}

#command-input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#command-input input{
  padding: 0 0.5em;
}

.fas.fa-arrow-left {
  position: absolute;
  top: 7px;
  left: 7px;
}

.heading-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  padding: 1.5em 0.5em;
  position: relative;
}

.tile h5 {
  margin-top: 0em;
  margin-bottom: 1em;
  padding: 0em;
  text-align: center;
}

.heading-tile {
  min-height: 2em;
  max-height: 2em;
}
.tile a.btn {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
}

.tile p {
 line-height: 1.2;
}

.flip a.btn {
  background-color: white;
}

.flip a.btn:hover {
  background-color: var(--light-grey);
}

.fa-arrow-left:hover, .fa-copy:hover {
  cursor: pointer;
}

#error404 {
  margin: 3em;
}

#docs-nav-heading {
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  img.navbar-img {
    margin: 0em;
  }

  .form-control-sm {
    font-size: 1.2rem;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0em;
  background-color: var(--colour-scheme-1);
  box-shadow: 0 6px 29px var(--darker-grey);
  padding: 1em;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  footer {
    left: 0;
  }
}

#docs footer {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 2;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
  padding: 0 1em;
  border-right: 1px solid var(--white);
}

footer li:last-child {
  border-right: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

#appsody-hello {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

@media only screen and (max-width: 767px) {
  #twitter-nav{
    margin-left: 1em;
    margin-right: 1em;
  }
  
   table {
     width: 100%;
     overflow-x: auto;
  }

   code  {
     font-size: 0.8em;
  }

  .dropdown-content {
    min-width: 100%;
    font-size: 1.0rem;
  }
}

.navbar-brand {
  padding: 0;
}

.sidebar-link {
  color: black;
  width: 8em;
  font-size: 1.1rem;
  padding-left: 2.4rem;
}

.sidebar-link:hover {
  text-decoration: none;
  color: var(--colour-scheme-1);

}

.sidebar-heading-link {
  color: black;
  font-size: 1.3rem !important;
  width: 90%;
  text-align: left;
  margin-top: 1.4rem;
  border: 0;
  padding-left: 0;
  padding-bottom: 2px;
  padding-top: 1px;
  line-height: 32px;
  margin-bottom: 0px;
  background-color: white;
}

.doc-sidebar-hidden-list {
  margin-left: -1.5rem;
}

.sidebar-heading-link:focus{
  border: 0;
}

.sidebar-heading-link.float-left {
  margin-bottom:0;
}

.float-left {
  margin-bottom: 0px;
}

.sidebar-heading-link a{
  color: black;
  font-size: 1.3rem;
  margin-top: 1.4rem;
}

.accordion-dropdown:hover {
  filter: invert(33%) sepia(54%) saturate(1628%) hue-rotate(295deg) brightness(86%) contrast(81%);
}

.accordion-dropdown {
  height: 1.4em;
  display: block;
  align-items: baseline;
}

.accordion-dropdown:focus {
  outline-color: white;
}

.sidebar-heading-link:hover {
  text-decoration: none;
}
 

.sidebar-heading-link a:hover {
  padding: 0;
  text-decoration: none !important;
  color: var(--colour-scheme-1);
 
}

.accordion ul {
  margin-bottom: 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  max-width: 13.1em;
  max-height: 60vh;
}

.dropdown-content a {
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown input {
  width: 15em !important ;
}

.header-link-icon {
  fill: var(--colour-scheme-1);
}

@media only screen and (max-width: 767px) {
  div .dropdown {
    width: 100%;
  }

  #search-input {
    width: 100% !important;
    height: 50px !important;
    border-radius: 10px;
    margin-bottom: 10px !important;
    margin-top: 25px !important;
  }

  .fa-search {
    display: none !important;
  }

  .sidebar-heading-link {
    font-size: 1.5rem !important;
  }

  .sidebar-link {
    font-size: 1.2rem;
  }
}

.hide {
  display: none;
}

.btn.btn-link {
  padding: 0;
  text-decoration: none !important;
  color: var(--colour-scheme-1);
  font-weight: bolder;
  font-size: 1.6rem;
  display: block;
  width: 100%;
}

.accordion {
  margin-left: 1.5em;
}

.accordion-icon {
  float:right;
  margin-top: 0.4em;
}

.active{
  color: var(--colour-scheme-1);
}

.active-docs {
  color: var(--colour-scheme-1);
  font-weight: 700;
  border-left: 5px solid var(--colour-scheme-1);
  padding-left: 2.0rem;
}

@media only screen and (min-width: 767px) {
  .accordion-icon {
    margin-left: 2% !important;
  }
}

hr {
  margin: 2em 0;
}


/* Docs Window Styling */
.doc-content {
  padding-left: 23rem;
  margin-top: 5rem;
  padding-bottom: 4rem;
  padding-right: 2em;
  max-width: 2000px;
}

.doc-content table {
  display: block;
  overflow: scroll;
  margin-bottom: 2em;
}

.doc-content table thead {
  border-bottom: 4px solid #BB417C;
  color: black;
  font-weight: 400;
}

.doc-content table tr td {
  margin: 0;
  text-align: left;
  padding: 0.7em 1em;
}

.doc-content table tr th {
  margin: 0;
  text-align: left;
  font-size: 16pt;
  font-weight: 600;
  padding: 0.4em 1em;

}

.doc-content table tr th:nth-child(1){
  column-width: 130em;
}

.doc-content table tr th:nth-child(2){
  column-width: 280em;
}

.doc-content table tr th:nth-child(3){
  column-width: 240em;
}

.doc-content table tr th:nth-child(4){
  column-width: 150em;
}

.doc-content table tr:nth-child(even) {
  background: var(--light-grey);
}

 .doc-content h5, .doc-content h6 {
  margin: 1.5rem 0 1rem 0;
}

.doc-content h1 {
  margin: 0 0 1rem 0;
  color: var(--colour-scheme-1);
  font-weight: 600;
  font-size: 2.1em;
}

.doc-content h2 {
  margin: 2.5rem 0 1rem 0;
  font-size: 1.5em;
  font-weight: 700;
}

.doc-content h3, .doc-content h4 {
  margin: 3rem 0 0.6rem 0;
  font-size: 1.2em;
  font-weight: 700;
}

.doc-content :not(pre)>code {
    border-radius: .1em;
    color: #000;
    font-weight: 700;
    font-family: 'SFMono-Regular', 'Menlo', 'Times New Roman', Times, serif;
    font-size: 0.9em;

}

.doc-content a {
  color: var(--colour-scheme-1);
  font-weight: 600;
}

.doc-content pre {
  padding: 2.5em 1.5em;
  border: 3px solid var(--darker-grey);
  background-color: var(--light-grey);
  border-radius: 1rem;
  color: #000;
  max-width: 1400px;
}

.doc-content ul {
  list-style: disc outside none;
  padding-inline-start: 40px;
}

.doc-content ul li {
  margin: 0.75em 0;
}


@media only screen and (max-width: 767px) {
  .doc-content {
    margin-bottom: 3em;
    padding: 2em;
    padding-bottom: 4em;
    padding-top: 0;
  }

  .homepage-sections {
    margin-bottom: 3em;
  }
}


blockquote {
  background-color: rgba(128, 27, 102, 0.1);
  padding: 1rem 3rem;
  border-left: 4px solid #BB417C;
  max-width: 1400px;
}

blockquote p {
  margin: 0;
}

.docs-header-text {
  font-size: 1.9em;
  margin-left: 1.5rem;
  padding-bottom: 0.3rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
  
}

.docs-header-pink {
  color: var(--colour-scheme-1);
  display: inline-block;
  margin-left: 0.25em;
}

@media only screen and (max-width: 767px) {
  .docs-header-text {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

#documents-window {
  transition: 0.5s;
}