:root {
  --primary-colour: lightgrey;
  --links-colour: black;
  --white-buttons: white;
}

.bg-primary {
  background-color: var(--primary-colour) !important;
}

.btn-primary {
  color: var(--links-colour) !important;
  background-color: var(--primary-colour) !important;
  border: 2px solid var(--primary-colour);
}

.btn-clear {
  color: var(--links-colour);
  border: 2px solid var(--primary-colour);
}

.btn-clear:hover {
  color: var(--links-colour);
}

section.landing-section {
  padding: 4em 0;
}

section.landing-section:not(:last-child) {
  border-bottom: 2px solid black;
}

section.landing-section .btn {
  border-radius: 2px;
}

.nav-link {
  color: var(--links-colour) !important;
}

.navbar-img {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 767px) {
  .navbar-img {
    height: 25px;
    width: 25px;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto{
    flex-direction: row;
  }
}

#application-stack {
  text-align: center;
}

.card {
  background-color: var(--primary-colour);
  padding: 2em;
  margin: 0.7em;
  width: 14em;
  height: 14em;
}

.card.flip {
  background-color: var(--white-buttons);
  padding: 2em;
  margin: 0.7em;
  width: 14em;
  height: 14em;
}

@media only screen and (max-width: 767px) {
  width: 7em;
  height: 7em;
}

#application-stacks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn.btn-clear.w-70 {
  background-color: var(--white-buttons) !important;
  border: 4px solid var(--white-buttons) !important;
}

input{
  padding-right: 0.8em;
  padding-left: 0.8em;
  text-align: center;
}
