@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

:root {
  --links-colour: black;
  --white-buttons: white;

  --white: white;
  --light-grey: #F1F1F1;
  --dark-grey: #d3d3d3;
  --darker-grey: #9B9B9B;
  --off-black-1: #100F15;
  --colour-scheme-1: #BB417C;
  --colour-scheme-2: #ED8E00;
  --colour-scheme-3: #C4302F;
  --colour-scheme-1-dark: #963463;

}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

#main-nav {
  background-color: var(--white);
  box-shadow: 0 -6px 29px var(--darker-grey);
}

.btn-primary {
  color: var(--white) !important;
  background-color: var(--colour-scheme-1) !important;
  border: 2px solid var(--colour-scheme-1) !important;
  border-radius: 10px !important;
}

.btn-primary:hover {
  background-color:  var(--colour-scheme-1-dark) !important;
  border-color: var(--colour-scheme-1-dark) !important;
}

.btn-clear {
  padding: 6px 12px;
  color: var(--links-colour);
  border: 2px solid var(--colour-scheme-1) !important;
  border-radius: 10px !important;
}

.btn-clear:hover {
  background-color: var(--light-grey);
}

section.landing-section {
  padding: 4em 0;
}

section.landing-section:first-child {
  padding: 6em 0;
}

section.landing-section:not(:last-child) {
  border-bottom: 2px solid var(--darker-grey);
}

section.landing-section .btn {
  border-radius: 2px;
}

section.landing-section h2 {
  font-size: 2.5em !important;
}

.nav-link {
  color: var(--links-colour) !important;
}

.nav-link:hover {
  color: var(--colour-scheme-1) !important;
}

.navbar-img {
  height: 25px;
  width: 25px;
}

/* Cannot change as the Slack icon is not transparent in the middle. Saving for later */
/* .navbar-img:hover {
  filter: invert(33%) sepia(54%) saturate(1628%) hue-rotate(295deg) brightness(86%) contrast(81%);
} */

@media only screen and (max-width: 767px) {
  .navbar-img {
    height: 25px;
    width: 25px;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto{
    flex-direction: row;
  }
}

#application-stack {
  text-align: center;
}

#redirect-page{
  position: relative;
  min-height: calc(100vh - 3.5em);
}

.card {
  padding: 0.5em 1em 1em 1em;
  margin: 0.7em;
  width: 14em;
  height: 14em;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, .35);
}

.card.flip {
  background-color: var(--colour-scheme-1);
  color: white !important;
}

.card.flip input {
  background-color: var(--colour-scheme-1);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: .25em !important;
  white-space: pre-wrap;
  font-size: .9em;
}

#application-stacks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-cli{
  text-align: center;
  width: 65%;
}

#command-input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#command-input input{
  padding: 0 0.5em;
}

.fas.fa-arrow-left {
  position: absolute;
  top: 7px;
  left: 7px;
}

.heading-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  padding: 1.5em 0.5em;
  position: relative;
}

.tile h5 {
  margin-top: 0em;
  margin-bottom: 1em;
  padding: 0em;
  text-align: center;
}

.heading-tile {
  min-height: 2em;
  max-height: 2em;
}
.tile a.btn {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
}

.tile p {
 line-height: 1.2;
}

.flip a.btn {
  background-color: white;
}

.flip a.btn:hover {
  background-color: var(--light-grey);
}

.fa-arrow-left:hover, .fa-copy:hover {
  cursor: pointer;
}

#error404 {
  margin: 3em;
}

#docs {
  display: grid;
  grid-template-columns: 15em auto;
}

#docs main, #docs-sidebar {
  padding: 1em;
}

#docs main {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 4em;
}

#docs-sidebar ul {
  padding: 0;
  list-style-type: none;
}

#docs-sidebar{
  position: fixed;
  width: 15em;
  padding-top: 5em;
  background-color: var(--light-grey);
  height: 100%;
  left: 0;
}

#docs-sidebar li {
  margin-top: 2em;
}

#docs h2 {
  font-size: 1.6em;
  font-weight: bold;
}

#docs h3 {
  font-size: 1.2em;
  font-weight: bold;
}

#docs-nav-heading {
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  img.navbar-img {
    margin: 0em;
  }

  #docs {
    grid-template-columns: 0;
    grid-template-rows: auto auto;
  }

  #docs main {
    margin-top: 0;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #docs-sidebar{
    width: 100vw;
    position: static;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colour-scheme-1);
  box-shadow: 0 6px 29px var(--darker-grey);
  padding: 1em;
  text-align: center;
}

#docs footer {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
  padding: 0 1em;
  border-right: 1px solid var(--white);
}

footer li:last-child {
  border-right: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

#docs main pre, #docs main :not(pre) > code  {
  padding: 0.3em;
  background-color: var(--light-grey);
  border-radius: 0.1em;
  color: black
}
#docs pre, #docs code{
  overflow-x: scroll;
  width: 100%;
}

#docs main {
  overflow-x: hidden;
}

#appsody-hello {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

@media only screen and (max-width: 767px) {
  #twitter-nav{
    margin-left: 1em;
    margin-right: 1em;
  }

  #docs #twitter-nav{
    margin-left: 0;
    margin-right: 0;
  }

  #docs .navbar-brand img {
    margin: 0 !important;
  }

   #docs .nav-link {
    padding-left: 0;
  }

   table {
     width: 100%;
     overflow-x: auto;
  }

   code  {
     font-size: 0.8em;
  }
}

.navbar-brand {
  padding: 0;
}

#docs #brand-name {
  display: none;
}

.doc-content table tr td {
  border: 0.1em solid var(--darker-grey);
  margin: 0;
  text-align: left;
  padding: 0.5em 1em;
}

.doc-content table tr th {
  border: 0.05em solid var(--darker-grey);
  margin: 0;
  column-width: 200em;
  text-align: center;
  font-size: 16pt;
}

.doc-content table tr:nth-child(even) {
  background: var(--dark-grey);
}

#docs-sidebar .active{
  color: var(--colour-scheme-1);
}

.sidebar-link {
  color: black;
  width: 8em;
}

.sidebar-link:hover {
  text-decoration: none;
  color: var(--colour-scheme-1);
  font-weight: bolder;
  font-size: 1.02rem;

}

.sidebar-heading-link {
  color: black;
  font-size: 0.7em;
  width: 8em;
  margin-right: 1.4em;
}

.sidebar-heading-link.float-left {
  margin-bottom:0 ;
}

.sidebar-heading-link a{
  color: black;
  font-size: 1.6em;
  margin-left: 0.5em;
}

.accordion-dropdown:hover {
  filter: invert(33%) sepia(54%) saturate(1628%) hue-rotate(295deg) brightness(86%) contrast(81%);
}

.accordion-dropdown {
  height: 1.2em;
}

.sidebar-heading-link:hover {
  text-decoration: none;
}
 

.sidebar-heading-link a:hover {
  padding: 0;
  text-decoration: none !important;
  color: var(--colour-scheme-1);
 
}

@media only screen and (min-width: 767px) {
  .sidebar-heading-link a:hover {
    font-weight: bolder;
    font-size: 1.61em;
  }

  .sidebar-heading-link:hover {
    font-weight: bolder;
    font-size: 0.71em;
  }
}

.doc-content {
  padding-bottom: 3em;
  padding-left: 1rem;
}

.doc-content table {
  display: block;
  overflow: scroll;
  margin-bottom: 2em;
}

 .doc-content h5, .doc-content h6 {
  margin: 1.5rem 0 1rem 0;
}

.doc-content h1 {
  margin: 2.5rem 0 1rem 0;
}

.doc-content h2 {
  margin: 2.5rem 0 1rem 0;
}

.doc-content h3, .doc-content h4 {
  margin: 2rem 0 1rem 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  max-width: 13.1em;
  max-height: 60vh;
}

.dropdown-content a {
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown input {
  width: 15em !important ;
}

#docs-sidebar div.dropdown {
  display: none;
}

.header-link-icon {
  fill: var(--colour-scheme-1);
}

@media only screen and (max-width: 767px) {
  div .dropdown {
    display: none;
  }

  #docs-sidebar div.dropdown {
    display: inline-block;
  }

  .form-inline {
    margin-bottom: 1.5em ;
  }
}

.hide {
  display: none;
}

.btn.btn-link {
  padding: 0;
  text-decoration: none !important;
  color: var(--colour-scheme-1);
  font-weight: bolder;
  font-size: 1.6rem;
  display: block;
}
