.burger-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    bottom: 100px;
    right: 20px;
    cursor: pointer;
    background-color: var(--colour-scheme-1);
    border-radius: 50%;
    z-index: 3;
    height: 4.5rem;
    width: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
    border: 1px solid rgba(255,255,255,0.1);
  }

  .line:nth-child(2) {
    margin: 5px 0;
  }
  
  .line {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
  }
}