.sidebar {
    width: 15em;
    padding-left: 5em;
    margin-top: -1.5rem;
    background-color: var(--light-grey);
    height: Calc(100vh);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
    box-sizing: border-box;
    position: fixed;
    overflow-y: scroll;
    z-index: 0;
}

.sidebar-link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .sidebar {
        width: 100vw;
        margin-top: -1.5rem;
        position: fixed;
        overflow-y: auto;
        z-index: 1;
        height: calc(100vh);
        display: none;
    }

    .docs-section {
        font-size: 1em;
    }
}

ul {
    padding: 0;
    list-style-type: none;
  }